<div class="home-content">
  <div class="home-title">COMPRA BARATO Y CONFIABLE</div>
  <div class="home-subtitle">
    ¿Buscas destacar en Fortnite sin gastar de más? Compra V-Bucks y skins
    exclusivas a un precio más bajo que en la tienda oficial. No pierdas la
    oportunidad de mejorar tu experiencia de juego. ¡Ofertas limitadas y
    descuentos que no querrás dejar pasar!
  </div>
  <div id="btn1"></div>
  <div id="btn2"></div>
</div>
